Source: nordvpn-indicator
Section: web
Priority: optional
Maintainer: Arjen Balfoort <arjenbalfoort@hotmail.com>
Build-Depends: debhelper-compat (= 12)
  , dh-python
  , python3-all
  , translate-toolkit
Standards-Version: 4.5.0
Vcs-Git: https://gitlab.com/abalfoort/nordvpn-indicator.git
X-Python3-Version: >= 3.6

Package: nordvpn-indicator
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
  , gir1.2-gtk-3.0
  , gir1.2-appindicator3-0.1 | gir1.2-ayatanaappindicator3-0.1
  , gir1.2-notify-0.7
  , expect
  , curl
  , jq
  , logrotate
  , xdg-utils
  , policykit-1
Recommends: nordvpn (>= 3.3.0)
  , wireguard
Description: Systemtray icon for the NordVPN application
 After installation you need to logout and login again.
