[Desktop Entry]
Name=NordVPN Indicator
Name[ca]=Indicador de NordVPN
Name[da]=NordVPN Statusindikator
Name[de]=NordVPN Indicator
Name[es]=Indicador de NordVPN
Name[es_419]=Indicador NordVPN
Name[it]=NordVPN Indicator
Name[lt]=NordVPN indikatorius
Name[nl]=NordVPN Indicator
Name[pt]=Indicador de NordVPN
Name[sr]=НордВПН индикатор
Comment=Systemtray icon for the NordVPN application
Comment[ca]=Icona del plafó per a l'aplicació NordVPN
Comment[da]=NordVPN systembakke-ikon
Comment[de]=Systemtray-Symbol für die NordVPN-Anwendung
Comment[es]=Icono de la bandeja del sistema para la aplicación NordVPN
Comment[es_419]=Icono de la bandeja del sistema para la aplicación NordVPN
Comment[it]=Icona de lpanello di sistema per l'applicazione NordVPN
Comment[lt]=NordVPN programos sistemos dėklo piktograma
Comment[nl]=Systeemvakpictogram voor de NordVPN-applicatie
Comment[pt]=Ícone bandeja do sistema para a aplicação NordVPN
Comment[sr]=Икона системске касете за НордВПН апликацију
Type=Application
Exec=bash -c "sleep 10; nordvpn-indicator"
Terminal=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
